@font-face {
    font-family: "tahoma";
    src: url("../fonts/tahoma.ttf") format("truetype");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: "tahomabold";
    src: url("../fonts/tahomabold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: "utm_facebook";
    src: url("../fonts/utm_facebook.ttf") format("truetype");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: "utm_facebook_kt";
    src: url("../fonts/utm_facebook_kt.ttf") format("truetype");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: "utm_facebook_kt_bold";
    src: url("../fonts/utm_facebook_kt_bold.TTF") format("truetype");
    font-weight: normal;
    font-style: normal
}

.f-tahoma {
    font-family: "tahoma"
}

.f-tahoma-bold {
    font-family: "tahomabold"
}

.f-utm_facebook {
    font-family: "utm_facebook"
}

.f-utm_facebook_kt {
    font-family: "utm_facebook_kt"
}

.f-utm_facebook_kt_bold {
    font-family: "utm_facebook_kt_bold"
}

a,abbr,acronym,address,applet,big,blockquote,body,caption,cite,code,dd,del,dfn,div,dl,dt,em,fieldset,font,form,h1,h2,h3,h4,h5,h6,html,iframe,ins,kbd,label,legend,li,object,ol,p,pre,q,s,samp,small,span,strike,strong,sub,sup,table,tbody,td,tfoot,th,thead,tr,tt,ul,var {
    border: 0;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline
}

:focus {
    outline: 0
}

ol,ul {
    list-style: none
}

table {
    border-collapse: separate;
    border-spacing: 0
}

caption,td,th {
    font-weight: normal;
    text-align: left
}

blockquote:after,blockquote:before,q:after,q:before {
    content: ""
}

blockquote,q {
    quotes: "" ""
}

a img {
    border: 0
}

figure {
    margin: 0
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    display: block
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    display: block
}

ol,ul {
    list-style: none
}

blockquote,q {
    quotes: none
}

blockquote:after,blockquote:before,q:after,q:before {
    content: "";
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

a:focus,a:hover,a:hover p,select:active,select:focus,select:hover {
    text-decoration: none;
    outline: none!important
}

a,a:active,a:link {
    text-decoration: none;
    outline: none!important;
    color: #fff
}

.clearfix:after {
    content: "";
    visibility: hidden;
    display: table;
    clear: both
}

*,.box_sizing_border_box {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.a100 {
    width: 100%;
    height: 100%;
    display: block
}

.m-auto {
    margin-left: auto;
    margin-right: auto
}

.t-upper {
    text-transform: uppercase
}

.t-center {
    text-align: center
}

.img-responsive {
    max-width: 100%;
    width: auto;
    height: auto
}

.c-blue-light {
    color: #4de7ed!important
}

.text-shadow {
    text-shadow: 0px 0px 5px rgba(0,0,0,0.75)
}

.box-shadow {
    -webkit-box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.75)
}

.txt-linear1 {
    background-image: -webkit-gradient(linear,50% 30%,50% 100%,color-stop(0%,#ffffff),color-stop(100%,#ffff86));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #ffff86;
    position: relative;
    z-index: 1
}

.txt-linear1:after {
    background: none;
    display: inline-block;
    content: attr(data-text);
    left: 0;
    position: absolute;
    text-shadow: 0px 0px 4px rgba(0,0,0,0.55);
    top: 0;
    z-index: -1
}

.txt-linear2 {
    background-image: -webkit-gradient(linear,50% 40%,50% 80%,color-stop(0%,#ffffff),color-stop(100%,#ffd33c));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #fff;
    position: relative
}

.txt-no-gradient {
    position: relative
}

.txt-no-gradient:after {
    background: none;
    display: inline-block;
    content: attr(data-text);
    left: 0;
    position: absolute;
    text-shadow: 3px 4px 2px rgba(255,255,255,0.75);
    top: 0;
    z-index: 0
}

.txt-linear3 {
    background-image: -webkit-gradient(linear,50% 25%,50% 100%,color-stop(0%,#ffffff),color-stop(100%,#ffff81));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #fabd48;
    position: relative
}

@-webkit-keyframes rotate_circle {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@keyframes rotate_circle {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@-webkit-keyframes zoom {
    0% {
        -webkit-transform: scale(0.95);
        transform: scale(0.95)
    }

    50% {
        -webkit-transform: scale(1.05);
        transform: scale(1.05)
    }

    to {
        -webkit-transform: scale(0.95);
        transform: scale(0.95)
    }
}

@keyframes zoom {
    0% {
        -webkit-transform: scale(0.95);
        transform: scale(0.95)
    }

    50% {
        -webkit-transform: scale(1.05);
        transform: scale(1.05)
    }

    to {
        -webkit-transform: scale(0.95);
        transform: scale(0.95)
    }
}

body {
    margin: 0;
    font-family: "tahoma";
    font-size: 14px;
    line-height: 1.5;
    font-weight: 300;
    color: #ffffff;
    background-color: #d2e6ec;
    min-height: 100vh;
    overflow-x: hidden!important
}

body.home_page {
    background: url(../images/bg-sn2tuoi.jpg),#fdc76d;
    background-repeat: no-repeat,no-repeat;
    background-position: center top
}

@media only screen and (max-width: 1023px) {
    body.home_page {
        background-size:auto 26.5%
    }
}

.container {
    position: relative;
    width: 100%;
    margin: 0 auto
}

@media only screen and (min-width: 1024px) {
    .container {
        width:1024px
    }
}

@media only screen and (min-width: 1200px) {
    .container {
        width:1200px
    }
}

.p-relative {
    position: relative
}

.d-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.d-flex.a-center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.d-flex.j-center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

@media only screen and (max-width: 1199px) {
    .hidden-mobile {
        display:none!important
    }
}

@media only screen and (min-width: 1200px) {
    .hidden-pc {
        display:none!important
    }
}

@media only screen and (max-width: 1199px) {
    .hidden-1199 {
        display:none!important
    }
}

@media only screen and (min-width: 1200px) {
    .hidden-1200 {
        display:none!important
    }
}

.bg-btn-link {
    width: 100%;
    height: 100%;
    background: url(../images/bg-link-down-pc.jpg) no-repeat center center;
    background-size: 100% 100%
}

.btn-link-bottom {
    font-size: 16px;
    cursor: pointer;
    background: url(../images/bg-btn.png) no-repeat center center;
    background-size: 100% 100%;
    width: 100px;
    width: 150px;
    height: 56px;
    line-height: 56px
}

@media only screen and (min-width: 375px) {
    .btn-link-bottom {
        width:115px
    }
}

@media only screen and (min-width: 414px) {
    .btn-link-bottom {
        width:125px
    }
}

@media only screen and (min-width: 480px) {
    .btn-link-bottom {
        width:185px;
        height: 70px;
        line-height: 70px
    }
}

@media only screen and (min-width: 1200px) {
    .btn-link-bottom {
        width:189px
    }
}

.btn-link-bottom.active,.btn-link-bottom:hover {
    color: #361c10;
    background: url(../images/bg-btn-hv.png) no-repeat center center;
    background-size: 100% 100%
}

.btn-link-bottom.active a,.btn-link-bottom:hover a {
    text-shadow: 0 0px 0 transparent
}

.btn-link-bottom a {
    text-shadow: 1px 2px 1px #113676
}

.btn-info-top {
    cursor: pointer;
    background: url(../images/bg-btn-register.png) no-repeat center center;
    background-size: 100% 100%;
    color: #432919
}

.btn-info-top:hover {
    background: url(../images/bg-btn-register-hv.png) no-repeat center center;
    background-size: 100% 100%
}

.link-tai-cd {
    width: 205px;
    height: 52px;
    position: relative
}

.link-tai-cd:hover {
    background-position: left bottom
}

.title-section {
    line-height: 1;
    font-size: 22px;
    margin-bottom: 30px;
    width: 320px;
    height: 76px;
    line-height: 76px;
    background: url(../images/bg-title-section.png) no-repeat center center;
    background-size: 100% 100%;
    color: #38828f
}

@media only screen and (min-width: 768px) {
    .title-section {
        font-size:35px;
        width: 546px;
        height: 130px;
        line-height: 130px
    }
}

button {
    background: transparent;
    padding: 0;
    margin: 0;
    border: 0;
    cursor: pointer;
    text-align: left
}

#toggle-hambuger:checked~nav #hambuger .inner-hambuger {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg)
}

#toggle-hambuger:checked~nav #hambuger .inner-hambuger:before {
    top: 0px;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg)
}

#toggle-hambuger:checked~nav #hambuger .inner-hambuger:after {
    top: 0px;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg)
}

#toggle-hambuger:checked~nav .navbar-content {
    display: block
}

.logo-top {
    position: absolute;
    left: 70px;
    top: 10px;
    width: 119px;
    border: 3px solid #e8dbaf;
    border-radius: 20px
}

.navbar {
    background: #112428;
    height: 60px;
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%
}

@media only screen and (min-width: 640px) {
    .navbar {
        height:100px
    }
}

@media only screen and (min-width: 1200px) {
    .navbar {
        height:69px;
        position: relative
    }
}

.navbar .container {
    padding: 0 3px
}

@media only screen and (min-width: 375px) {
    .navbar .container {
        padding:0 5px
    }
}

@media only screen and (min-width: 480px) {
    .navbar .container {
        padding:0 10px
    }
}

@media only screen and (min-width: 640px) {
    .navbar .container {
        padding:0 15px
    }
}

@media only screen and (min-width: 768px) {
    .navbar .container {
        padding:0 30px
    }
}

@media only screen and (min-width: 1200px) {
    .navbar .container {
        padding:0
    }
}

.navbar .icon-game {
    width: 50px;
    float: left;
    margin-top: 5px;
    border-radius: 8px;
    border: 2px solid #e8dbaf;
    border-radius: 10px
}

@media only screen and (min-width: 640px) {
    .navbar .icon-game {
        width:85px;
        margin-top: 8px
    }
}

.navbar .info-game {
    float: left;
    color: #ffffff;
    margin-left: 3px;
    margin-top: 4px
}

@media only screen and (min-width: 375px) {
    .navbar .info-game {
        margin-left:10px
    }
}

@media only screen and (min-width: 640px) {
    .navbar .info-game {
        margin-left:15px
    }
}

.navbar .info-game .name-game {
    font-size: 17px;
    color: #4de7ed
}

@media only screen and (min-width: 480px) {
    .navbar .info-game .name-game {
        font-size:19px
    }
}

.navbar .info-game .des {
    font-size: 15px;
    color: #cdb97b
}

.navbar .right-nav {
    float: right;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 60px
}

@media only screen and (min-width: 640px) {
    .navbar .right-nav {
        height:100px
    }
}

.navbar .link-head-setting {
    margin-right: 5px;
    height: 40px
}

@media only screen and (min-width: 768px) {
    .navbar .link-head-setting {
        height:70px
    }
}

.navbar .link-head-setting .link-hs {
    display: inline-block;
    width: 40px;
    height: 100%;
    background: url(../images/icon-home.png) no-repeat center center;
    background-size: 100% 100%
}

@media only screen and (min-width: 768px) {
    .navbar .link-head-setting .link-hs {
        width:70px;
        margin-right: 8px
    }
}

.navbar .link-head-setting .icon-fp {
    background: url(../images/icon-fp.png) no-repeat center center;
    background-size: 100% 100%
}

.navbar .icon-hamburger {
    float: right;
    height: 38px
}

.navbar .icon-hamburger #hambuger {
    display: inline-block;
    position: relative;
    height: 35px;
    width: 35px;
    cursor: pointer;
    z-index: 1
}

.navbar .icon-hamburger #hambuger .inner-hambuger {
    height: 5px;
    width: 100%;
    top: 16px;
    background-color: #cab48a;
    position: absolute;
    transition: -webkit-transform 0.2s ease 0s;
    -webkit-transition: -webkit-transform 0.2s ease 0s;
    -o-transition: transform 0.2s ease 0s;
    transition: transform 0.2s ease 0s;
    transition: transform 0.2s ease 0s,-webkit-transform 0.2s ease 0s
}

.navbar .icon-hamburger #hambuger .inner-hambuger:after,.navbar .icon-hamburger #hambuger .inner-hambuger:before {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    height: 5px;
    width: 100%;
    background-color: #cab48a
}

.navbar .icon-hamburger #hambuger .inner-hambuger:before {
    top: -12px
}

@media only screen and (min-width: 640px) {
    .navbar .icon-hamburger #hambuger .inner-hambuger:before {
        top:-15px
    }
}

.navbar .icon-hamburger #hambuger .inner-hambuger:after {
    top: 12px
}

@media only screen and (min-width: 640px) {
    .navbar .icon-hamburger #hambuger .inner-hambuger:after {
        top:15px
    }
}

.navbar .navbar-content {
    display: none;
    position: fixed;
    background: url(../images/m-bg-nav.jpg) no-repeat center top;
    background-size: cover;
    width: 60%;
    height: calc(100% - 59px);
    right: 0;
    top: 59px
}

@media only screen and (min-width: 640px) {
    .navbar .navbar-content {
        height:calc(100% - 99px);
        top: 99px
    }
}

@media only screen and (min-width: 1200px) {
    .navbar .navbar-content {
        display:block;
        height: auto;
        position: relative;
        width: auto;
        background: transparent;
        top: 20px;
        left: 420px;
        float: left
    }
}

@media only screen and (max-width: 1199px) {
    .navbar .navbar-content {
        max-width:358px
    }
}

@media only screen and (min-width: 1200px) {
    .navbar .navbar-content ul#menu {
        float:left
    }
}

.navbar .navbar-content ul#menu li {
    position: relative;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #3a393a
}

@media only screen and (min-width: 1200px) {
    .navbar .navbar-content ul#menu li {
        float:left;
        text-align: center;
        margin-left: 0;
        margin: 0 18px;
        padding: 0;
        border-bottom: 0
    }
}

.navbar .navbar-content ul#menu li:first-child {
    margin-top: 10px
}

@media only screen and (min-width: 1200px) {
    .navbar .navbar-content ul#menu li:first-child {
        margin-top:0;
        display: none
    }
}

@media only screen and (min-width: 1200px) {
    .navbar .navbar-content ul#menu li:first-child:before {
        display:none
    }
}

.navbar .navbar-content ul#menu li:before {
    position: absolute;
    content: "";
    width: 6px;
    height: 6px;
    left: 15px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    background: #f5eec0
}

@media only screen and (min-width: 1200px) {
    .navbar .navbar-content ul#menu li:before {
        left:-16px;
        top: 6px;
        width: 1px;
        height: 17px;
        background: #747d74;
        -webkit-transform: rotate(0);
        -ms-transform: rotate(0);
        transform: rotate(0);
        border-radius: inherit;
        border: none
    }
}

.navbar .navbar-content ul#menu a {
    color: #cab48a;
    font-size: 18px;
    cursor: pointer;
    font-family: "utm_facebook_kt"
}

@media only screen and (min-width: 1200px) {
    .navbar .navbar-content ul#menu a {
        color:#dbc583
    }
}

.number-hotline {
    color: #757575;
    line-height: 1.4;
    position: absolute;
    left: -200px;
    top: -12px
}

.number-hotline span {
    font-size: 16px
}

.number-hotline .txt-number-phone .txt-number2 {
    font-size: 19px
}

.footer {
    background: #112428;
    padding: 30px 0;
    color: #e5d298;
    position: relative
}

@media only screen and (min-width: 414px) {
    .footer {
        font-size:15px
    }
}

.footer .container {
    z-index: 1
}

.footer a {
    color: #e5d298
}

.footer p {
    font-size: 15px
}

@media only screen and (min-width: 768px) {
    .footer p {
        font-size:18px
    }
}

.footer p:first-child {
    font-size: 15px
}

@media only screen and (min-width: 768px) {
    .footer p:first-child {
        font-size:18px
    }
}

.txt-healthy {
    color: #e5d298
}

.slogan {
    position: relative;
    width: 40%;
    max-width: 350px;
    margin-top: 20%
}

@media only screen and (min-width: 1200px) {
    .slogan {
        margin-top:70px;
        width: 350px
    }
}

.slogan img {
    width: 100%;
    max-width: 350px
}

.play-trailer {
    width: 15%;
    height: 16%;
    position: absolute;
    -webkit-animation: zoom 2s infinite;
    animation: zoom 2s infinite;
    right: 6%;
    top: 0%
}

@media only screen and (min-width: 1200px) {
    .play-trailer {
        width:48px;
        height: 49px;
        right: 4%;
        top: 2%
    }
}

.play-trailer img {
    width: 100%
}

.payment-fanpage-link {
    margin-top: 256px;
    text-align: center
}

.payment-fanpage-link a {
    width: 40%;
    display: inline-block;
    font-size: 17px;
    height: 50px;
    line-height: 50px;
    color: #eae3b8;
    text-align: left;
    padding-left: 5%;
    margin: 0 2px
}

@media only screen and (min-width: 768px) {
    .payment-fanpage-link a {
        font-size:25px;
        width: 232px;
        height: 64px;
        line-height: 64px;
        padding-left: 2%;
        margin: 0 5px
    }
}

.payment-fanpage-link a span {
    text-shadow: 1px 3px 3px black
}

.payment-fanpage-link .btn-load-card {
    background: url(../images/m-bg-link-card.jpg) no-repeat center center;
    background-size: 100% 100%
}

.payment-fanpage-link .btn-download-game {
    background: url(../images/m-bg-link-game.jpg) no-repeat center center;
    background-size: 100% 100%
}

.payment-fanpage-link .btn-get-gc {
    background: url(../images/m-bg-link-gc.jpg) no-repeat center center;
    background-size: 100% 100%;
    margin-top: 10px;
    width: 60%;
    max-width: 232px
}

.info-card-download {
    margin-top: 420px;
    width: 527px;
    height: 157px;
    margin-left: auto;
    margin-right: auto
}

.info-card-download:before {
    position: absolute;
    content: "";
    width: 555px;
    height: 190px;
    background: url(../images/bg-box-download-pc.png) no-repeat center center;
    background-size: 100% 100%;
    left: -23px;
    top: -20px
}

.info-card-download .btn-nap-the,.info-card-download .icon-game,.info-card-download .link-tai-card-download {
    float: left
}

.info-card-download .icon-game {
    margin-left: 12px;
    border-radius: 20px;
    width: 154px
}

.info-card-download .link-tai-card-download {
    margin-left: 3px
}

.btn-nap-the {
    width: 157px;
    height: 157px;
    background: url(../images/bg-card-pc.jpg) no-repeat left top;
    background-size: 100% 100%
}

.btn-nap-the a {
    color: #eae3b8;
    font-size: 25px;
    padding-top: 115px;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.8)
}

.btn-giftcode {
    background: url(../images/bg-gc.jpg) no-repeat left top;
    background-size: 100% 100%;
    margin-left: 3px
}

.btn-giftcode a {
    line-height: 1;
    padding-top: 107px;
    font-size: 23px
}

.link-dl-game {
    color: #eae3b8!important;
    font-size: 14px
}

.link-dl-game .icon-dl {
    width: 57px;
    height: 57px;
    background: url(../images/icon-apple-store.png) no-repeat center center;
    margin-left: 10px;
    margin-right: 5px
}

.link-dl-game .icon-chplay {
    background: url(../images/icon-gg-store.png) no-repeat center center
}

.link-dl-game .icon-pc {
    background: url(../images/icon-pc.png) no-repeat center center
}

.link-dl-game .text-dl {
    line-height: 1.3
}

.link-dl-game .text-dl span {
    display: block
}

.link-dl-game .txt-name-dl {
    font-size: 18px
}

.box-new {
    background: url(../images/m-bg-box-new.jpg) no-repeat center bottom;
    background-size: cover;
    padding-top: 10px;
    padding-bottom: 10px
}

@media only screen and (min-width: 1200px) {
    .box-new {
        margin-top:70px;
        background: url(../images/bg-box-new.jpg) no-repeat center top;
        background-size: cover;
        padding-top: 0;
        padding-bottom: 0
    }
}

.box-new .box-new-content {
    padding: 0 10px
}

@media only screen and (min-width: 768px) {
    .box-new .box-new-content {
        padding:0 30px
    }
}

@media only screen and (min-width: 1200px) {
    .box-new .box-new-content {
        padding:0
    }
}

@media only screen and (min-width: 1200px) {
    .box-new .slide-new {
        float:left;
        width: 697px
    }
}

.box-new .slide-new img {
    width: 100%
}

.box-new .slide-new .slick-dots {
    text-align: right;
    padding-right: 5%
}

.box-new .slick-dotted.slick-slider {
    margin-bottom: 0
}

.box-new .list-short-new {
    background: #ffffff;
    position: relative;
    padding-bottom: 10px
}

@media only screen and (min-width: 1200px) {
    .box-new .list-short-new {
        float:left;
        width: calc(100% - 697px);
        height: 385px;
        padding: 10px 25px
    }
}

ul.tabs {
    background: #162d32
}

@media only screen and (min-width: 1200px) {
    ul.tabs {
        background:transparent;
        border-bottom: 1px solid #277385
    }
}

ul.tabs li {
    float: left;
    text-align: center;
    cursor: pointer;
    position: relative;
    font-size: 14px;
    height: 48px;
    margin-top: 0px;
    padding: 0 5px;
    margin-right: 0px;
    margin-left: 0px;
    color: #dbc583;
    background: url(../images/bg-link-box-new.jpg) no-repeat center bottom;
    background-size: 100% 100%;
    width: 25%
}

@media only screen and (min-width: 375px) {
    ul.tabs li {
        padding:0 9px
    }
}

@media only screen and (min-width: 414px) {
    ul.tabs li {
        padding:0 10px
    }
}

@media only screen and (min-width: 480px) {
    ul.tabs li {
        font-size:18px;
        height: 48px
    }
}

@media only screen and (min-width: 1200px) {
    ul.tabs li {
        font-size:19px;
        background: transparent;
        color: #11272b;
        font-family: "utm_facebook_kt_bold";
        width: auto;
        line-height: 48px
    }
}

ul.tabs li.current,ul.tabs li:hover {
    color: #fff;
    background: url(../images/bg-link-box-new-hv.jpg) no-repeat center bottom;
    background-size: 100% 100%
}

@media only screen and (min-width: 1200px) {
    ul.tabs li.current:after,ul.tabs li:hover:after {
        position:absolute;
        content: "";
        width: 100%;
        height: 5px;
        background: #e50000;
        bottom: 0px;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%)
    }
}

@media only screen and (min-width: 1200px) {
    ul.tabs li.current,ul.tabs li:hover {
        background:transparent;
        color: #11272b
    }
}

ul.tabs li span {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    width: 90%;
    line-height: 1.3
}

@media only screen and (min-width: 1200px) {
    ul.tabs li span {
        position:static;
        left: inherit;
        top: inherit;
        width: 100%;
        -webkit-transform: inherit;
        -ms-transform: inherit;
        transform: inherit
    }
}

.tab-content {
    padding: 0 10px
}

.tab-content .tab-detail {
    display: none
}

.tab-content .tab-detail.current {
    display: block
}

.tab-content .item {
    padding: 10px 0;
    border-bottom: 1px solid #b4b4b4
}

@media only screen and (min-width: 1200px) {
    .tab-content .item {
        padding:8px 0;
        border-bottom: 1px solid #277385
    }
}

@media only screen and (min-width: 1200px) {
    .tab-content .item:last-child {
        border-bottom:0
    }
}

.tab-content .item .tit-cat {
    color: #121515
}

@media only screen and (min-width: 360px) {
    .tab-content .item .tit-cat {
        font-size:15px
    }
}

@media only screen and (min-width: 768px) {
    .tab-content .item .tit-cat {
        font-size:18px
    }
}

@media only screen and (min-width: 1200px) {
    .tab-content .item .tit-cat {
        font-size:14px
    }
}

.tab-content .item .tit-cat .span-cat {
    float: left
}

.tab-content .item .tit-date {
    float: right;
    color: #b6b6b6;
    font-size: 16px
}

@media only screen and (min-width: 768px) {
    .tab-content .item .tit-date {
        font-size:20px
    }
}

@media only screen and (min-width: 1200px) {
    .tab-content .item .tit-date {
        color:#224851;
        font-size: 15px
    }
}

.tab-content .item .tit-text a {
    font-size: 16px;
    color: #224851;
    float: left;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis
}

@media only screen and (min-width: 360px) {
    .tab-content .item .tit-text a {
        font-size:17px
    }
}

@media only screen and (min-width: 768px) {
    .tab-content .item .tit-text a {
        font-size:22px
    }
}

@media only screen and (min-width: 1200px) {
    .tab-content .item .tit-text a {
        font-size:16px
    }
}

.view-more .tab-view-more {
    width: 200px;
    margin: 10px auto 0;
    height: 50px;
    line-height: 50px;
    display: none;
    font-size: 18px;
    color: #12272c
}

@media only screen and (min-width: 768px) {
    .view-more .tab-view-more {
        width:316px;
        height: 82px;
        line-height: 82px;
        font-size: 26px
    }
}

@media only screen and (min-width: 1200px) {
    .view-more .tab-view-more {
        width:27px;
        height: 27px;
        border: 3px solid #277385;
        background: transparent;
        text-indent: -999999px;
        position: absolute;
        font-size: 55px;
        right: 25px;
        top: 20px;
        line-height: 1;
        margin: 0
    }
}

@media only screen and (min-width: 1200px) {
    .view-more .tab-view-more:after {
        position:absolute;
        content: "+";
        left: -1px;
        top: -6px;
        text-indent: 0;
        font-size: 28px;
        color: #11272b
    }
}

.view-more .tab-view-more.current {
    display: block
}

.box-gotop {
    width: 100px;
    height: 55px;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    top: -40px;
    color: #e38242;
    cursor: pointer;
    z-index: 2;
    margin-left: 0!important;
    margin-top: 0!important
}

@media only screen and (min-width: 768px) {
    .box-gotop {
        top:-50px
    }
}

.box-gotop .arrow-go-top {
    padding-top: 15px
}

@media only screen and (min-width: 768px) {
    .box-gotop .arrow-go-top {
        padding-top:20px
    }
}

.box-gotop .arrow-go-top span {
    position: relative
}

@media only screen and (min-width: 768px) {
    .box-gotop .arrow-go-top span {
        font-size:18px
    }
}

.box-gotop .arrow-go-top:before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-bottom: 40px solid #2a2223;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    top: 0
}

@media only screen and (min-width: 768px) {
    .box-gotop .arrow-go-top:before {
        border-left:50px solid transparent;
        border-right: 50px solid transparent;
        border-bottom: 50px solid #2a2223
    }
}

.box-gotop .arrow-go-top:after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #e38242;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    top: 12px
}

@media only screen and (min-width: 768px) {
    .box-gotop .arrow-go-top:after {
        top:18px
    }
}

.link-about {
    position: relative
}

.link-about ul {
    width: 312px;
    margin: 0 auto
}

@media only screen and (min-width: 360px) {
    .link-about ul {
        width:360px
    }
}

@media only screen and (min-width: 480px) {
    .link-about ul {
        width:474px
    }
}

@media only screen and (min-width: 600px) {
    .link-about ul {
        width:510px
    }
}

@media only screen and (min-width: 1200px) {
    .link-about ul {
        border-bottom:1px solid #f8f4e9;
        padding-bottom: 44px
    }
}

.link-about ul li {
    float: left;
    width: 100px;
    height: 100px;
    background: url(../images/bg-link-about.png) no-repeat left top;
    background-size: cover;
    margin: 0 2px;
    position: relative;
    text-align: center
}

@media only screen and (min-width: 360px) {
    .link-about ul li {
        width:116px;
        height: 116px
    }
}

@media only screen and (min-width: 480px) {
    .link-about ul li {
        width:154px;
        height: 154px
    }
}

@media only screen and (min-width: 600px) {
    .link-about ul li {
        margin:0 8px
    }
}

.link-about ul li:hover {
    background: url(../images/bg-link-about-hover.png) no-repeat left top;
    background-size: cover
}

.link-about ul li .span-icon-txt {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%)
}

.link-about ul li .span-icon-txt .icon {
    margin: 0 auto;
    width: 27px;
    height: 27px;
    display: block;
    background: url(../images/icon-group-link-about.png) no-repeat center center;
    background-size: contain
}

@media only screen and (min-width: 480px) {
    .link-about ul li .span-icon-txt .icon {
        width:46px;
        height: 46px
    }
}

.link-about ul li .span-txt {
    font-size: 15.5px;
    color: #fbf4d7;
    line-height: 1
}

@media only screen and (min-width: 360px) {
    .link-about ul li .span-txt {
        font-size:17.5px
    }
}

@media only screen and (min-width: 480px) {
    .link-about ul li .span-txt {
        font-size:22.5px
    }
}

@media only screen and (min-width: 768px) {
    .link-about ul li .span-txt {
        text-transform:uppercase;
        font-size: 23px
    }
}

.link-about ul li.link-about-youtube .icon {
    background: url(../images/icon-youtube-link-about.png) no-repeat center center;
    background-size: contain
}

@media only screen and (min-width: 480px) {
    .link-about ul li.link-about-youtube .icon {
        width:30px;
        height: 40px
    }
}

.link-about ul li.link-about-fanpage .icon {
    background: url(../images/icon-fb-link-about.png) no-repeat center center;
    background-size: contain
}

@media only screen and (min-width: 480px) {
    .link-about ul li.link-about-fanpage .icon {
        width:26px;
        height: 44px
    }
}

@media only screen and (min-width: 1200px) {
    .list-link-box-new {
        display:-webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column
    }
}

@media only screen and (min-width: 1200px) {
    .list-link-box-new .list-guide {
        -webkit-box-ordinal-group:3;
        -ms-flex-order: 2;
        order: 2
    }
}

.list-guide {
    margin-top: 13%;
    background: #112428
}

@media only screen and (min-width: 1200px) {
    .list-guide {
        margin-top:0
    }
}

.list-guide-detail .link-guide {
    overflow: hidden;
    width: 300px;
    height: 132px;
    background: url(../images/link-guide/bg-list-guide.jpg) no-repeat left top;
    background-size: cover;
    font-size: 22px;
    line-height: 1.2;
    padding-top: 8px
}

@media only screen and (min-width: 480px) {
    .list-guide-detail .link-guide {
        padding-top:20px
    }
}

@media only screen and (min-width: 1200px) {
    .list-guide-detail .link-guide {
        padding-top:0
    }
}

@media only screen and (max-width: 1199px) {
    .list-guide-detail .link-guide {
        width:25%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column
    }
}

.list-guide-detail .link-guide:hover {
    background: url(../images/link-guide/bg-list-guide-hv.jpg) no-repeat left bottom;
    background-size: cover
}

.list-guide-detail .link-guide:last-child .box-img img {
    margin-left: -10px
}

@media only screen and (max-width: 1199px) {
    .box-img {
        height:60px;
        width: 100%;
        text-align: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center
    }
}

.txt-guide {
    font-size: 20px;
    color: #dbc583
}

@media only screen and (min-width: 1200px) {
    .txt-guide {
        margin-left:20px
    }
}

@media only screen and (max-width: 1199px) {
    .txt-guide {
        font-size:12px;
        margin-top: 5px;
        text-align: center
    }
}

.icon-guide {
    margin-left: 10px
}

@media only screen and (max-width: 1199px) {
    .icon-guide {
        width:55%;
        max-width: 62px;
        margin-left: 0
    }
}

.txt-g-big {
    font-size: 25px;
    color: #fff
}

@media only screen and (max-width: 1199px) {
    .txt-g-big {
        font-size:16px
    }
}

.dac-sac {
    background: url(../images/bg-content.jpg) no-repeat center top;
    padding-top: 30px
}

.dac-sac .slide-dacsac {
    margin-bottom: 50px;
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto
}

@media only screen and (min-width: 1200px) {
    .dac-sac .slide-dacsac {
        margin-bottom:0
    }
}

@media only screen and (min-width: 1200px) {
    .dac-sac .slide-dacsac:after,.dac-sac .slide-dacsac:before {
        position:absolute;
        content: ""
    }
}

.dac-sac .slide-dacsac .slick-list {
    max-width: 1080px;
    margin: 0 auto
}

.dac-sac .slide-dacsac .slick-dots {
    bottom: 0px
}

@media only screen and (min-width: 1024px) {
    .dac-sac .slide-dacsac .slick-dots {
        bottom:70px
    }
}

.dac-sac .slide-dacsac .slick-dots li {
    width: 15px;
    height: 15px;
    margin: 0 8px
}

.dac-sac .item-ds img {
    width: 100%
}

.about-footer {
    position: relative;
    z-index: 9
}

.about-link {
    background: url(../images/link-bottom/bg-link-bottom.jpg) no-repeat center center;
    padding: 30px 0
}

@media only screen and (min-width: 768px) {
    .about-link {
        padding:60px 0
    }
}

@media only screen and (min-width: 1200px) {
    .about-link {
        padding:85px 0
    }
}

.list-link-about {
    text-align: center
}

.list-link-about .link-to {
    display: inline-block
}

@media only screen and (min-width: 768px) {
    .list-link-about .link-to {
        margin:0 10px
    }
}

.list-link-about .link-to img {
    width: 100px;
    display: block
}

@media only screen and (min-width: 375px) {
    .list-link-about .link-to img {
        width:115px
    }
}

@media only screen and (min-width: 414px) {
    .list-link-about .link-to img {
        width:125px
    }
}

@media only screen and (min-width: 480px) {
    .list-link-about .link-to img {
        width:150px
    }
}

@media only screen and (min-width: 768px) {
    .list-link-about .link-to img {
        width:220px
    }
}

@media only screen and (min-width: 1200px) {
    .list-link-about .link-to img {
        width:328px
    }
}

.nav-right {
    width: 217px;
    height: 501px;
    position: fixed;
    z-index: 9;
    top: 30%;
    background: url(../images/bg-nav-right.png) no-repeat center top;
    right: -217px;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease
}

.nav-right:after,.nav-right:before {
    position: absolute;
    content: ""
}

.nav-right:after {
    width: 73px;
    height: 92px;
    background: url(../images/rau-anchor.png);
    left: 51%;
    bottom: -92px;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%)
}

.nav-right.open {
    right: 2px
}

.nav-right .btn-nap-the {
    width: 194px;
    height: 100px;
    line-height: 100px;
    margin-top: 6px;
    margin-left: auto;
    margin-right: auto;
    background: url(../images/bg-game-nav-right.jpg) no-repeat left top;
    background-size: 100% 100%
}

.nav-right .btn-nap-the a {
    padding-top: 0
}

.qr-code {
    width: 176px;
    margin-top: 35px;
    display: block;
    border: 6px solid white;
    border-radius: 30px;
    margin-bottom: 10px
}

.i-control {
    cursor: pointer;
    position: absolute;
    top: 40px;
    left: -29px;
    height: 85px;
    width: 30px;
    background: #2e1712;
    -webkit-clip-path: polygon(0 20%,100% 0,100% 100%,0 80%);
    clip-path: polygon(0 20%,100% 0,100% 100%,0 80%)
}

.i-control .i-txt {
    height: 55px;
    width: 25px;
    margin-top: 14px;
    margin-left: 2px;
    background: url(../images/icon-close-nav-right.png) no-repeat;
    background-size: contain;
    display: block;
    -webkit-transform: rotateZ(0deg);
    -ms-transform: rotate(0deg);
    transform: rotateZ(0deg)
}

.i-control.i-control-open .i-txt {
    -webkit-transform: rotateZ(180deg);
    -ms-transform: rotate(180deg);
    transform: rotateZ(180deg)
}

.show-video {
    width: 100%;
    height: 100%;
    top: 0;
    display: none;
    position: fixed;
    background-color: rgba(0,0,0,0.8);
    z-index: 9999;
    left: 0
}

.show-video .content-video {
    width: 90%;
    height: 175px;
    line-height: 55px;
    text-align: center;
    display: block;
    left: 50%;
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    position: absolute;
    background-size: cover;
    padding: 4px
}

@media only screen and (min-width: 480px) {
    .show-video .content-video {
        height:300px
    }
}

@media only screen and (min-width: 768px) {
    .show-video .content-video {
        height:477px
    }
}

@media only screen and (min-width: 1000px) {
    .show-video .content-video {
        width:846px
    }
}

@media only screen and (min-width: 1360px) {
    .show-video .content-video {
        width:70%;
        height: 80%
    }
}

.show-video .close-video {
    background: url(../images/icon-close.png) no-repeat center;
    width: 30px;
    height: 30px;
    float: right;
    position: absolute;
    top: 3px;
    right: 3px;
    cursor: pointer;
    background-color: #fa6001
}

body.news-page {
    background: #d2e6ec;
    background-size: 100% auto
}

.news-page .info-card-download {
    margin-top: 20px
}

.news-page .box-gotop {
    display: block!important
}

.box-download-news {
    background: url(../images/bg-newpage.jpg);
    background-repeat: no-repeat,no-repeat;
    background-position: center top;
    height: 315px;
    position: relative;
    z-index: 2
}

.box-download-news .slogan-new img {
    width: 380px;
    margin-top: 5px
}

.news {
    background: url(../images/bg-content.jpg) no-repeat center top;
    min-height: 500px;
    margin-top: 60px;
    padding-bottom: 60px;
    padding-top: 10px
}

@media only screen and (min-width: 640px) {
    .news {
        margin-top:100px
    }
}

@media only screen and (min-width: 1200px) {
    .news {
        margin-top:0;
        padding-top: 0
    }
}

.news .tab-link-news {
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 15px
}

@media only screen and (min-width: 768px) {
    .news .tab-link-news {
        padding-left:15px;
        padding-right: 15px
    }
}

@media only screen and (min-width: 1200px) {
    .news .tab-link-news {
        margin-bottom:40px;
        margin-top: 0;
        padding-left: 0;
        padding-right: 0
    }
}

.news .tab-link-news ul {
    font-size: 0;
    border-bottom: 1px solid #cccccc
}

@media only screen and (min-width: 1200px) {
    .news .tab-link-news ul {
        margin:0;
        text-align: left
    }
}

.news .tab-link-news ul li {
    float: left;
    padding: 10px 5px;
    position: relative
}

@media only screen and (min-width: 600px) {
    .news .tab-link-news ul li {
        padding:10px
    }
}

@media only screen and (min-width: 1200px) {
    .news .tab-link-news ul li {
        margin:0
    }
}

@media only screen and (min-width: 1000px) {
    .news .tab-link-news ul li:first-child {
        margin-left:0
    }
}

.news .tab-link-news ul li.active:after,.news .tab-link-news ul li:hover:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 5px;
    background: #9e0b0f;
    bottom: -1px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%)
}

@media only screen and (min-width: 768px) {
    .news .tab-link-news ul li.active:after,.news .tab-link-news ul li:hover:after {
        height:7px
    }
}

@media only screen and (min-width: 1000px) {
    .news .tab-link-news ul li.active:after,.news .tab-link-news ul li:hover:after {
        background:#9e0b0f;
        bottom: -3px;
        width: 100%
    }
}

.news .tab-link-news ul li.active a,.news .tab-link-news ul li:hover a {
    color: #9e0b0f
}

.news .tab-link-news ul li a {
    color: #1e1e1e;
    font-size: 12px
}

@media only screen and (min-width: 360px) {
    .news .tab-link-news ul li a {
        font-size:15px
    }
}

@media only screen and (min-width: 414px) {
    .news .tab-link-news ul li a {
        font-size:17px
    }
}

@media only screen and (min-width: 480px) {
    .news .tab-link-news ul li a {
        font-size:20px
    }
}

@media only screen and (min-width: 768px) {
    .news .tab-link-news ul li a {
        font-size:25px
    }
}

@media only screen and (min-width: 1000px) {
    .news .tab-link-news ul li a {
        padding:20px 27px;
        color: #1e1e1e
    }
}

.news-left {
    position: relative
}

@media only screen and (min-width: 1200px) {
    .news-left {
        width:1036px;
        padding-top: 20px;
        padding-left: 60px;
        padding-right: 60px
    }
}

.list-new-item .item {
    padding: 12px 0px;
    margin: 0px 10px;
    border-bottom: 1px solid #cccccc
}

@media only screen and (min-width: 768px) {
    .list-new-item .item {
        padding:20px 0px;
        margin: 0px 15px
    }
}

@media only screen and (min-width: 1200px) {
    .list-new-item .item {
        margin:0
    }
}

.list-new-item .item .date-more,.list-new-item .item .description,.list-new-item .item .thumb-new {
    float: left
}

.list-new-item .item .thumb-new {
    width: 162px
}

.list-new-item .item .description {
    width: calc(100% - 45px)
}

@media only screen and (min-width: 600px) {
    .list-new-item .item .description {
        width:calc(100% - 100px)
    }
}

@media only screen and (min-width: 1200px) {
    .list-new-item .item .description {
        width:calc(100% - 310px);
        margin-left: 23px
    }
}

.list-new-item .item .description p {
    font-size: 15px
}

@media only screen and (min-width: 600px) {
    .list-new-item .item .description p {
        font-size:24px
    }
}

.list-new-item .item .description .des-cat {
    font-family: "tahomabold";
    color: #6c6c6c
}

.list-new-item .item .description .des-title a {
    color: #192926;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    float: left
}

@media only screen and (min-width: 1000px) {
    .list-new-item .item .description .des-title a {
        font-size:17px;
        font-family: "tahomabold";
        color: #434242
    }
}

.list-new-item .item .description .des-title a:hover {
    color: #9e0b0f
}

@media only screen and (min-width: 1000px) {
    .list-new-item .item .description .des-text a {
        font-size:15px;
        color: #4f4f4f;
        margin-top: 6px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical
    }
}

.list-new-item .item .date-more {
    float: right;
    text-align: right;
    width: 45px
}

@media only screen and (min-width: 600px) {
    .list-new-item .item .date-more {
        width:100px
    }
}

.list-new-item .item .date-more p {
    color: #434242
}

@media only screen and (min-width: 600px) {
    .list-new-item .item .date-more p {
        font-size:18px;
        line-height: 1.2
    }
}

.list-new-item .item .date-more p:first-child {
    font-family: "tahomabold"
}

@media only screen and (min-width: 600px) {
    .list-new-item .item .date-more p:first-child {
        font-size:30px
    }
}

@media only screen and (min-width: 1000px) {
    .list-new-item .item .date-more p:nth-child(3) {
        margin-top:12px
    }

    .list-new-item .item .date-more p:nth-child(3) a {
        font-size: 18px;
        text-transform: uppercase;
        color: #ffffff;
        padding: 6px 30px;
        background: #112428
    }

    .list-new-item .item .date-more p:nth-child(3) a:hover {
        background: #9e0b0f
    }
}

.pagination {
    margin-top: 50px
}

.pagination .next,.pagination .prev {
    background: transparent;
    border: transparent;
    color: #662314
}

.pagination .next:hover,.pagination .prev:hover {
    background: transparent
}

.pagination ul {
    text-align: center;
    font-size: 0
}

@media only screen and (min-width: 1000px) {
    .pagination ul {
        margin:0 80px
    }
}

.pagination ul li {
    display: inline-block;
    margin: 0 2px
}

.pagination ul li.active a,.pagination ul li:hover a {
    background: #112428;
    color: #c6c6c6
}

.pagination ul li a {
    font-size: 16px;
    color: #c6c6c6;
    border: 1px solid #aeadad;
    line-height: 1;
    padding: 5px 15px
}

@media only screen and (min-width: 768px) {
    .pagination ul li a {
        font-size:20px;
        padding: 8px 18px
    }
}

.new-detail .content-detail,.new-detail .title-new-detail {
    margin-left: 10px;
    margin-right: 10px
}

@media only screen and (min-width: 375px) {
    .new-detail .content-detail,.new-detail .title-new-detail {
        margin-left:15px;
        margin-right: 15px
    }
}

@media only screen and (min-width: 1200px) {
    .new-detail .content-detail,.new-detail .title-new-detail {
        margin-left:0;
        margin-right: 0
    }
}

.new-detail .title-new-detail {
    padding-bottom: 10px;
    border-bottom: 1px solid #cccccc
}

@media only screen and (min-width: 1200px) {
    .new-detail .title-new-detail {
        margin-top:40px
    }
}

.new-detail .title-new-detail .title-detail {
    margin-top: 15px;
    font-family: "tahomabold";
    font-size: 20px;
    color: #434242;
    text-align: justify
}

@media only screen and (min-width: 375px) {
    .new-detail .title-new-detail .title-detail {
        font-size:24px
    }
}

@media only screen and (min-width: 600px) {
    .new-detail .title-new-detail .title-detail {
        font-size:30px
    }
}

@media only screen and (min-width: 1200px) {
    .new-detail .title-new-detail .title-detail {
        float:left;
        margin-left: 110px;
        width: calc(100% - 190px);
        text-align: center
    }
}

.new-detail .title-new-detail .date-detail {
    text-align: right;
    font-size: 18px;
    color: #434242
}

@media only screen and (min-width: 1200px) {
    .new-detail .title-new-detail .date-detail {
        float:right
    }
}

.new-detail .content-detail {
    margin-top: 25px
}

@media only screen and (min-width: 1200px) {
    .back-title {
        width:60px;
        float: left;
        position: absolute;
        margin-top: 22px
    }
}

@media only screen and (min-width: 1200px) {
    .back-title a {
        color:#070e1e;
        font-size: 17px
    }
}

@media only screen and (min-width: 1200px) {
    .back-title a i {
        width:20px;
        height: 34px;
        left: -30px;
        top: -2px;
        position: absolute;
        content: "";
        background: url(../images/icon-back.png) no-repeat right top
    }
}

.text {
    font-size: 14px;
    color: #0f191f
}

@media only screen and (min-width: 1000px) {
    .text {
        font-size:15px
    }
}

.text span.content-event-first {
    float: left;
    font-size: 40px;
    line-height: 5px;
    margin: 4px 2px 0px 0px
}

.text .content-event-h1,.text h1 {
    font-size: 19px;
    color: #0f191f;
    padding: 4px 0 8px 40px;
    position: relative;
    font-family: "tahomabold"
}

.text .content-event-h1:before,.text h1:before {
    content: "";
    width: 30px;
    height: 26px;
    background: url(../images/icon-h1-n.png) no-repeat center center;
    background-size: 100%;
    position: absolute;
    left: 0;
    top: 4px
}

.text .content-event-h2,.text h2 {
    margin-left: 15px;
    font-size: 16px;
    font-weight: bold;
    padding-left: 25px;
    color: #0f191f;
    font-family: "tahomabold";
    margin-bottom: 10px;
    margin-top: 10px;
    position: relative
}

.text .content-event-h2:before,.text h2:before {
    content: "";
    width: 20px;
    height: 20px;
    background: url(../images/icon-h2-n.png) no-repeat 1px 1px transparent;
    background-size: 100%;
    position: absolute;
    left: 0;
    top: 2px
}

.text a {
    color: #1A30FB
}

.text ul {
    margin-left: 25px
}

.text ul li {
    line-height: 28px
}

.text p {
    font-family: "tahoma";
    line-height: 28px;
    color: #0f191f
}

.text p img {
    margin-top: 15px;
    margin-bottom: 15px;
    max-width: 100%;
    height: auto
}

.text table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto
}

@media only screen and (min-width: 1024px) {
    .text table {
        width:auto
    }
}

.text table tr td {
    border: 1px solid #4e5051;
    margin: 0;
    padding: 10px 10px;
    vertical-align: middle!important;
    text-align: center
}

.text table tr:first-child {
    background: #000
}

.text table tr:first-child td {
    font-family: "tahomabold"
}

.text table tr:first-child td p {
    font-family: "tahomabold";
    color: #ffffff
}

.text fieldset {
    border: 1px solid #4e5051;
    margin: 20px 0;
    padding: 10px;
    color: #2a2a2a;
    background: #f3f3f3
}

.text fieldset legend {
    color: white;
    background: #8c1c08;
    font-family: "tahomabold";
    padding: 0 15px
}

.text fieldset ul {
    margin-left: 15px
}

.text strong {
    font-family: "tahomabold"
}

.text em {
    font-style: italic
}

table img {
    display: block
}

table {
    border-collapse: collapse;
    font-size: 14px;
    font-family: "tahoma";
    margin-top: 10px
}

table tr:first-child td {
    background-color: #091d42;
    color: #000000;
    font-weight: bold;
    text-align: center;
    padding: 10px
}

table tr td {
    border: 1px solid #ffffff;
    vertical-align: middle;
    color: #000000;
    font-weight: normal;
    text-align: center;
    padding: 5px 0px
}

.slide-custom-arrow .slick-arrow {
    z-index: 2;
    width: 25px;
    height: 39px;
    background: url(../images/icon-arrow.png) no-repeat center center;
    background-size: contain
}

@media only screen and (min-width: 768px) {
    .slide-custom-arrow .slick-arrow {
        width:36px;
        height: 56px
    }
}

@media only screen and (min-width: 1200px) {
    .slide-custom-arrow .slick-arrow {
        width:51px;
        height: 80px
    }
}

.slide-custom-arrow .slick-arrow.slick-prev {
    left: 0
}

@media only screen and (min-width: 1200px) {
    .slide-custom-arrow .slick-arrow.slick-prev {
        left:-45px
    }
}

.slide-custom-arrow .slick-arrow.slick-next {
    right: 0;
    -webkit-transform: translate(0,-50%) rotateZ(180deg);
    -ms-transform: translate(0,-50%) rotate(180deg);
    transform: translate(0,-50%) rotateZ(180deg)
}

@media only screen and (min-width: 1200px) {
    .slide-custom-arrow .slick-arrow.slick-next {
        right:-45px
    }
}

.slick-custom-dots .slick-dots {
    bottom: 15px
}

.slick-custom-dots .slick-dots li {
    background: #ffffff;
    border-radius: 10px;
    width: 14px;
    height: 14px;
    margin: 0 3px
}

.slick-custom-dots .slick-dots li.slick-active {
    width: 60px
}

.slick-custom-dots .slick-dots li button {
    width: 14px;
    height: 14px
}

.slick-custom-dots .slick-dots li button:before {
    width: 14px;
    height: 14px;
    content: ""
}

.slick-custom-dots.slick-dot-black .slick-dots li {
    background: #112428
}

/*# sourceMappingURL=main.css.map */
