@import "_variables.scss";
@import "_mixins.scss";
@font-face {
  font-family: 'tahoma';
  src: url('../fonts/tahoma.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'tahomabold';
  src: url('../fonts/tahomabold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'utm_facebook';
  src: url('../fonts/utm_facebook.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'utm_facebook_kt';
  src: url('../fonts/utm_facebook_kt.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'utm_facebook_kt_bold';
  src: url('../fonts/utm_facebook_kt_bold.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}


.f-tahoma {
  font-family: 'tahoma';
}
.f-tahoma-bold {
  font-family: 'tahomabold';
}
.f-utm_facebook {
  font-family: 'utm_facebook';
}
.f-utm_facebook_kt {
  font-family: 'utm_facebook_kt';
}
.f-utm_facebook_kt_bold{
  font-family: 'utm_facebook_kt_bold';
}




/* =Reset default browser CSS.
-------------------------------------------------------------- */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {border: 0;font-family: inherit;font-size: 100%;font-style: inherit;font-weight: inherit;margin: 0;outline: 0;padding: 0;vertical-align: baseline;}
:focus {outline: 0;}

ol, ul {list-style: none;}
table {border-collapse: separate;border-spacing: 0;}
caption, th, td {font-weight: normal;text-align: left;}
blockquote:before, blockquote:after,q:before, q:after {content: "";}
blockquote, q {quotes: "" "";}
a img{border: 0;}
figure{margin:0}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}
/* -------------------------------------------------------------- */


/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}


ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

a:hover, a:focus, a:hover p, select:hover, select:focus, select:active{
  text-decoration: none;
  outline: none !important;
}
a, a:link,a:active{
  text-decoration: none;
  outline: none !important;
  color: #fff;
}

.clearfix{
  &:after {
    content: "";
    visibility: hidden;
    display: table; 
    clear: both;
  }
}

*, .box_sizing_border_box {
  box-sizing: border-box;
}



.a100 {
  width: 100%;
  height: 100%;
  display: block;
}

.m-auto {
  margin-left: auto;
  margin-right: auto;
}

.t-upper {
  text-transform: uppercase;
}

.t-center {
  text-align: center;
}

.img-responsive {
  max-width: 100%;
  width: auto;
  height: auto;
}

.c-blue-light {
  color: #4de7ed !important;
}

.text-shadow {
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.75);  
}
.box-shadow {
  box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.75);
}



.txt-linear1 {
  background-image: -webkit-gradient(linear, 50% 30%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #ffff86)); 
  // background-image: -webkit-linear-gradient(#ffffff,#ffd33c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #ffff86;
  position: relative;
  z-index: 1;
  &:after {
    background: none;
    display: inline-block;
    content: attr(data-text);
    left: 0;
    position: absolute;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.55); 
    top: 0;
    z-index: -1;
  }
}
.txt-linear2 {
  background-image: -webkit-gradient(linear, 50% 40%, 50% 80%, color-stop(0%, #ffffff), color-stop(100%, #ffd33c)); 
  // background-image: -webkit-linear-gradient(#ffffff,#ffd33c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #fff;
  position: relative;
}
.txt-no-gradient {
  position: relative;
  &:after {
    background: none;
    display: inline-block;
    content: attr(data-text);
    left: 0;
    position: absolute;
    text-shadow: 3px 4px 2px rgba(255, 255, 255, 0.75); 
    top: 0;
    z-index: 0;
  }
}

.txt-linear3 {
  background-image: -webkit-gradient(linear, 50% 25%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #ffff81));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #fabd48;
  position: relative;
  
}



@keyframes rotate_circle {
  0% {transform:rotate(  0deg);}
  100% {transform:rotate(360deg);}
}
@keyframes zoom { 0% { -webkit-transform: scale(0.95); transform: scale(0.95); }
  50% { -webkit-transform: scale(1.05); transform: scale(1.05); }
  100% { -webkit-transform: scale(0.95); transform: scale(0.95); } }