$color_white: #ffffff;
$color_black: #000000;
$color_orange: #f47b33;
$color_red: #bf0e01;
$color-bg-header: #172224;
$color-text-link: #fddf9b;


$logo: url(../images/logo.png) no-repeat;

// Title section
$bg-title-section: url(../images/bg-title-section.png) no-repeat;


// index page
$bg: url(../images/bg.jpg) no-repeat;
$bg-1024: url(../images/bg-1024.jpg) no-repeat;
$m-bg: url(../images/m-bg.jpg) no-repeat;



// ------------ COMPONENT LINK ABOUT -------------
$link-about-home: url(../images/link-about-home.png) no-repeat;
$link-about-youtube: url(../images/link-about-youtube.png) no-repeat;
$link-about-fanpage: url(../images/link-about-fanpage.png) no-repeat;

$bg-link-about: url(../images/bg-link-about.png) no-repeat;
$bg-link-about-hover: url(../images/bg-link-about-hover.png) no-repeat;
$icon-home-link-about: url(../images/icon-group-link-about.png) no-repeat;
$icon-youtube-link-about: url(../images/icon-youtube-link-about.png) no-repeat;
$icon-facebook-link-about: url(../images/icon-fb-link-about.png) no-repeat;

// ------------ COMPONENT MEDIA -------------
$icon-video: url(../images/icon-video.png) no-repeat;
$icon-image: url(../images/icon-image.png) no-repeat;
$bg-btn-more: url(../images/bg-btn-more.png) no-repeat;

// footer
$m-bg-footer: url(../images/m-bg-footer.jpg) no-repeat;
$bg-footer: url(../images/bg-footer.jpg) no-repeat;

// Nav right
$bg-nav-right: url(../images/bg-nav-right.png) no-repeat;
$bg-btn-nav-right: url(../images/bg-btn-nav-right.png) no-repeat;


// popup
$bg-popup: url(../images/bg-popup.jpg) no-repeat;
$icon-close-popup: url(../images/icon-close-popup.png) no-repeat;
