.about-footer {
	position: relative;
 z-index: 9;
}
.about-link {
	
	background: url(../images/link-bottom/bg-link-bottom.jpg) no-repeat center center;
	padding: 30px 0;

  @include devices(768) {
    padding: 60px 0;
  }
  @include devices(1200) {
    // margin-top: 95px;
    padding: 85px 0;
  }
	&:before {
		// position: absolute;
		// content: '';
		// width: 100%;
		// max-width: 803px;
		// height: 24px;
		// top: 0;
  //   left: 50%;
  //   transform: translateX(-50%);
		// background: url(../images/line-top-about.png) no-repeat center center;
	}
}
.list-link-about {
	text-align: center;
	.link-to {
		display: inline-block;
		@include devices(375) {
     
	  }
	  @include devices(768) {
      margin: 0 10px;
	  }
		
		img {
			width: 100px;
			display: block;
			@include devices(375) {
	      width: 115px;
		  }
			@include devices(414) {
	      width: 125px;
		  }
		  @include devices(480) {
	      width: 150px;
		  }
		  @include devices(768) {
	      width: 220px;
		  }
		  @include devices(1200) {
	      width: 328px;
		  }
		}
	}
}