.box-new {
  background: url(../images/m-bg-box-new.jpg) no-repeat center bottom;
  background-size: cover;
  padding-top: 10px;
  padding-bottom: 10px;

	@include devices(375) {
    // margin-top: 70px;
  }
  @include devices(480) {
    // margin-top: 200px;
  }
  @include devices(600) {
    // margin-top: 280px;
  }
  @include devices(1200) {
    margin-top: 70px;
    background: url(../images/bg-box-new.jpg) no-repeat center top;
    background-size: cover;
    padding-top: 0;
    padding-bottom: 0;
  }
	.container {
		// @include devices(1200) {
  //     width: 1200px;
  //   }
	}
	.box-new-content {
		padding: 0 10px;
		@include devices(768) {
      padding: 0 30px;
    }
    @include devices(1200) {
      padding: 0;
      // box-shadow: 0px 14px 2px 0px rgba(0, 0, 0, 0.3);
    }
	}
	.slide-new {
		@include devices(1200) {
      float: left;
      width: 697px;
    }
    img {
    	width: 100%;
    }
		.slick-dots {
      text-align: right;
      padding-right: 5%;
    }
	}
	.slick-dotted.slick-slider {
		margin-bottom: 0;
	}
	.list-short-new {
		
		background: $color_white;
    position: relative;
    padding-bottom: 10px;
    // &:before {
    //   position: absolute;
    //   content: '';
    //   left: 1%;
    //   top: 1%;
    //   right: 1%;
    //   bottom: 1%;
    //   border: 1px solid #e9e9e9;
    // }
		@include devices(768) {
      // padding: 10px 25px;
    }
    @include devices(1200) {
      float: left;
	    width: calc(100% - 697px);
      height: 385px;
      padding: 10px 25px;
    }
		
	}
}

// tabs link
ul.tabs {
  background: #162d32;
  
  @include devices(1200) {
    background: transparent;
    border-bottom: 1px solid #277385;
  }
	li {
		float: left;
		text-align: center;
  cursor: pointer;
  position: relative;
	font-size: 14px;
  height: 48px;
  margin-top: 0px;
  padding: 0 5px;
  
  margin-right: 0px;
  margin-left: 0px;
  color: #dbc583;
  background: url(../images/bg-link-box-new.jpg) no-repeat center bottom;
  background-size: 100% 100%;
  width: 25%;
  @include devices(375) {
    // font-size: 16px;
    padding: 0 9px;
  }
  @include devices(414) {
    padding: 0 10px;
  }
  @include devices(480) {
    font-size: 18px;
    height: 48px;
  }
  @include devices(768) {
    // font-size: 20px;
  }
  @include devices(1200) {
    font-size: 19px;
    background: transparent;
    color: #11272b;
    font-family: 'utm_facebook_kt_bold';
    width: auto;
    line-height: 48px;
  }
  &.current, &:hover {
    color: #fff;
    background: url(../images/bg-link-box-new-hv.jpg) no-repeat center bottom;
    background-size: 100% 100%;
  	&:after {
	    
      @include devices(1200) {
        position: absolute;
        content: '';
        width: 100%;
        height: 5px;
        background: #e50000;
        bottom: 0px;
        left: 50%;
        transform: translateX(-50%);
      }
    }
    @include devices(1200) {
      background: transparent;
      color: #11272b;
    }
  }
  span {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    line-height: 1.3;
    @include devices(1200) {
      position: static;
      left: inherit;
      top: inherit;
      width: 100%;
      transform: inherit;
    }
  }
	}
}
// tab content
.tab-content {
  padding: 0 10px;
	.tab-detail {
		display: none;
		&.current {
			display: block;
		}
	}
	.item {
		padding: 10px 0;
		border-bottom: 1px solid #b4b4b4;
		@include devices(1200) {
      padding: 8px 0;
      border-bottom: 1px solid #277385;
  }
  &:last-child {
  	@include devices(1200) {
      border-bottom: 0;
    }
  }
		.tit-cat {
			@include devices(360) {
      font-size: 15px;
    }
    @include devices(768) {
      font-size: 18px;
    }
    @include devices(1200) {
      font-size: 14px;
    }
			color: #121515;
			.span-cat {
				float: left;
			}
		}
		.tit-date {
			float: right;
			color: #b6b6b6;
			font-size: 16px;
			@include devices(768) {
        font-size: 20px;
      }
      @include devices(1200) {
        color: #224851;
      font-size: 15px;
    }
		}
		.tit-text {
			a {
				font-size: 16px;
				color: #224851;
	    float: left;
	    width: 100%;
	    overflow: hidden;
	    white-space: nowrap;
	    text-overflow: ellipsis;
	    @include devices(360) {
	      font-size: 17px;
	    }
	    @include devices(768) {
	      font-size: 22px;
	    }
	    @include devices(1200) {
	      font-size: 16px;
	    }
			}
		}
	}
}
	
// btn view more
.view-more {
	.tab-view-more {
		width: 200px;
		margin: 10px auto 0;
  height: 50px;
  line-height: 50px;
		
		display: none;
		font-size: 18px;
    color: #12272c;
		@include devices(768) {
    width: 316px;
			height: 82px;
			line-height: 82px;
			font-size: 26px;
  }
  @include devices(1200) {
    width: 27px;
    height: 27px;
    border: 3px solid #277385;
    background: transparent;
    text-indent: -999999px;
    position: absolute;
    font-size: 55px;
    right: 25px;
    top: 20px;
    line-height: 1;
    margin: 0;
  }
  &:after {
  	@include devices(1200) {
      position: absolute;
      content: "+";
      left: -1px;
      top: -6px;
      text-indent: 0;
      font-size: 28px;
      color: #11272b;
    }
  }
		&.current {
			display: block;
		}

	}
}