.box-gotop {
  width: 100px;
  height: 55px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -40px;
  color: #e38242;
  cursor: pointer;
  // display: none;
  z-index: 2;
  margin-left: 0 !important;
  margin-top: 0 !important;
 	@include devices(768) {
    top: -50px;
  }
  .arrow-go-top {
  	padding-top: 15px;
  	@include devices(768) {
	    padding-top: 20px;
	  }
  	span {
  		position: relative;
  		@include devices(768) {
		    font-size: 18px;
		  }
  	}
		&:before {
			position: absolute;
			content: ''; 
	  	width: 0; 
		  height: 0; 
		  border-left: 40px solid transparent;
		  border-right: 40px solid transparent;
		  border-bottom: 40px solid #2a2223;
		  left: 50%;
	    transform: translateX(-50%);
	    top: 0;
	    @include devices(768) {
		    border-left: 50px solid transparent;
			  border-right: 50px solid transparent;
			  border-bottom: 50px solid #2a2223;
		  }
		}
		&:after {
			position: absolute;
			content: ''; 
	  	width: 0; 
		  height: 0; 
		  border-left: 5px solid transparent;
		  border-right: 5px solid transparent;
		  border-bottom: 5px solid #e38242;
		  left: 50%;
	    transform: translateX(-50%);
	    top: 12px;
	    @include devices(768) {
		    top: 18px;
		  }
		}
  }
}

.link-about {
	// margin-top: 30px;
	// margin-bottom: 20px;
	position: relative;
	@include devices(768) {
    // margin-bottom: 30px;
  }
  @include devices(1000) {
    // margin-top: 50px;
  }
	ul {
    width: 312px;
    margin: 0 auto;
    @include devices(360) {
     	width: 360px;
    }
    @include devices(480) {
     	width: 474px;
    }
    @include devices(600) {
     	width: 510px;
    }
    @include devices(1200) {
 	    border-bottom: 1px solid #f8f4e9;
	    padding-bottom: 44px;
    }
		li {
			float: left;
	    width: 100px;
	    height: 100px;
			background: $bg-link-about left top;
	    background-size: cover;
	    margin: 0 2px;
      position: relative;
	    text-align: center;
	    @include devices(360) {
	       width: 116px;
	       height: 116px;
	    }
	    @include devices(480) {
	       width: 154px;
	       height: 154px;
	    }
	    @include devices(600) {
	       margin: 0 8px;
	    }
	    &:hover {
	    	background: $bg-link-about-hover left top;
	    	background-size: cover;
	    }
	    .span-icon-txt {
	    	position: absolute;
		    left: 50%;
		    top: 50%;
		    transform: translate(-50%, -50%);
	    	.icon {
  		    margin: 0 auto;
	    		width: 27px;
	    		height: 27px;
	    		display: block;
	    		background: $icon-home-link-about center center;
	    		background-size: contain;
	    		@include devices(480) {
	          width: 46px;
    				height: 46px;
			    }
	    	}
	    }
	    .span-txt {
	    	font-size: 15.5px;
  	    color: #fbf4d7;
  	    line-height: 1;
	    	@include devices(360) {
		      font-size: 17.5px;
		    }
		    @include devices(480) {
		      font-size: 22.5px;
		    }
		    @include devices(768) {
	    		text-transform: uppercase;
		      font-size: 23px;
		    }
	    }
	    &.link-about-youtube {
				.icon {
					background: $icon-youtube-link-about center center;
					background-size: contain;
					@include devices(480) {
			      width: 30px;
	    			height: 40px;
			    }
				}
	    }
	    &.link-about-fanpage {
				.icon {
					background: $icon-facebook-link-about center center;
					background-size: contain;
					@include devices(480) {
			      width: 26px;
	    			height: 44px;
			    }
				}
	    }
		}
	}
}