.list-link-box-new	{
	
	@include devices(1200) {
		display: flex;
		flex-direction: column;
	}
	.list-guide {
		@include devices(1200) {
			order: 2;
		}
	}
}
.list-guide {
	// margin-top: 35%;
	// margin-top: 23%;
	margin-top: 13%;
	background: #112428;
	@include devices(1200) {
		margin-top: 0;
	}
}

.list-guide-detail {
	// font-size: 0;
	
	.link-guide {
		// float: left;
		overflow: hidden;
		width: 300px;
		height: 132px;
		background: url(../images/link-guide/bg-list-guide.jpg) no-repeat left top;
		background-size: cover;
		font-size: 22px;
		line-height: 1.2;
		padding-top: 8px;
		// margin-left: 1px;
		@include devices(480) {
			padding-top: 20px;
		}
		@include devices(1200) {
			padding-top: 0;
		}
		@include max_devices(1199) {
			width: 25%;
			display: flex;
			flex-direction: column;
		}
		&:hover {
			background: url(../images/link-guide/bg-list-guide-hv.jpg) no-repeat left bottom;
			background-size: cover;
		}
		&:last-child {
			.box-img {
				img {
					margin-left: -10px;
				}
			}
		}
	}
}

.box-img {
	
	@include max_devices(1199) {
		height: 60px;
		width: 100%;
		text-align: center;
		display: flex;
		align-items: flex-end;
		justify-content: center;
	}
}

.txt-guide {
	font-size: 20px;
	color: #dbc583;
	// text-shadow: 1px 2px 2px #9a2d09;
	
	@include devices(1200) {
		margin-left: 20px;
	}
	@include max_devices(1199) {
		font-size: 12px;
		margin-top: 5px;
		text-align: center;
	}
}

.icon-guide {
	margin-left: 10px;
	@include max_devices(1199) {
		width: 55%;
		max-width: 62px;
		margin-left: 0;
	}
}
.txt-g-big {
	font-size: 25px;
	color: #fff;
	@include max_devices(1199) {
		font-size: 16px;
	}
}