.show-video {
    width: 100%;
    height: 100%;
    top: 0;
    display: none;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 9999;
    left: 0;
    .content-video {
	    width: 90%;
	    height: 175px;
	    // background-color: #cd5c34;
	    line-height: 55px;
	    text-align: center;
	    display: block;
	    left: 50%;
	    top: 50%;
	    transform: translateX(-50%) translateY(-50%);
	    position: absolute;
	    background-size: cover;
	    padding: 4px;
	    @include devices(480) {
            height: 300px;
        }
        @include devices(768) {
            height: 477px;
        }
        @include devices(1000) {
            width: 846px;
        }
        @include devices(1360) {
            width: 70%;
			height: 80%;
        }
    }
    .close-video {
	    background: url(../images/icon-close.png) no-repeat center;
	    width: 30px;
	    height: 30px;
	    float: right;
	    position: absolute;
	    top: 3px;
	    right: 3px;
	    cursor: pointer;
	    background-color: #fa6001;
    }
}