body {
	&.news-page {
		background: #d2e6ec;
		background-size: 100% auto;
		@include devices(1920) {
      // background-size: contain;
      // background: transparent;
    }
  }

}

.news-page {
	.info-card-download {
		margin-top: 20px;
	}
	.box-gotop {
		display: block !important;
	}
}

.box-download-news {
	background: url(../images/bg-newpage.jpg);
	background-repeat: no-repeat, no-repeat;
	background-position: center top;
	height: 315px;
	position: relative;
	z-index: 2;
	.slogan-new {
		img {
			width: 380px;
			margin-top: 5px;
		}
	}
}
.news {
	background: url(../images/bg-content.jpg) no-repeat center top;
	min-height: 500px;
	margin-top: 60px;
	padding-bottom: 60px;
	padding-top: 10px;
  @include devices(640) {
  	margin-top: 100px;
  }
  @include devices(1200) {
  	margin-top: 0;
		// padding-bottom: 0;
		padding-top: 0;
  }
  .tab-link-news {
  	padding-left: 10px;
  	padding-right: 10px;
  	margin-top: 15px;
  	@include devices(768) {
  		padding-left: 15px;
  		padding-right: 15px;
  	}
  	@include devices(1200) {
  		margin-bottom: 40px;
  		margin-top: 0;
  		padding-left: 0;
  		padding-right: 0;
  	}
  	ul {
			// text-align: center;
			font-size: 0;
			border-bottom: 1px solid #cccccc;
			@include devices(1200) {
				margin: 0;
				text-align: left;
			}
			li {
				float: left;
				padding: 10px 5px;
				position: relative;
				@include devices(600) {
					padding: 10px;
				}
				@include devices(1200) {   
					margin: 0;
				}
				&:first-child {
					@include devices(1000) {   
						margin-left: 0;
					}
				}
				&:not(:first-child) {
					// &:before {
					// 	position: absolute;
					// 	content: '';
					// 	width: 1px;
					// 	height: 40%;
					// 	background: #694c2a;
				  //   top: 50%;
				  //   left: 0;
				  //   transform: translateY(-50%);
				  //   @include devices(1200) {   
				  //   	height: 30%;
					// 		transform: translateY(-50%) rotate(17deg);
					// 	}
					// }
				}
				&.active, &:hover {
					&:after {
						position: absolute;
						content: '';
						width: 100%;
						height: 5px;
						background: #9e0b0f;
						bottom: -1px;
						left: 50%;
						transform: translateX(-50%);
						@include devices(768) {
							height: 7px;
						}
						@include devices(1000) {
							background: #9e0b0f;
							bottom: -3px;
							width: 100%;
						}
					}
					a {
						color: #9e0b0f;
					}
				}
				a {
					color: #1e1e1e;
					font-size: 12px;
					@include devices(360) {
						font-size: 15px;
					}
					@include devices(414) {
						font-size: 17px;
					}
					@include devices(480) {
						font-size: 20px;
					}
					@include devices(768) {
						font-size: 25px;
					}
					@include devices(1000) {
						padding: 20px 27px;
						color: #1e1e1e;
					}
				}
			}
		}
	}
}

.news-left {
	position: relative;
	// padding-bottom: 150px;
	@include devices(1200) {
		// background: #fff;
    // border: 1px solid #f0d6af;
		width: 1036px;
    // width: 830px;
    // float: left;
    padding-top: 20px;
    padding-left: 60px;
		padding-right: 60px;
		// padding-bottom: 50px;
  }

}



.list-new-item {
	.item {
		padding: 12px 0px;
		margin: 0px 10px;
		border-bottom: 1px solid #cccccc;
		@include devices(768) {
			padding: 20px 0px;
			margin: 0px 15px;
		}
		@include devices(1200) {
			margin: 0;
		}

		.thumb-new, .description, .date-more {
			float: left;
		}
		.thumb-new {
			width: 162px;
		}
		.description {
			width: calc(100% - 45px);
			@include devices(600) {
				width: calc(100% - 100px);
			}
			@include devices(1200) {
				width: calc(100% - 310px);
				margin-left: 23px;
			}
			p {
				font-size: 15px;
				@include devices(600) {
					font-size: 24px;
       	    // line-height: 1;
       	  }

       	}
       	.des-cat {
       		font-family: 'tahomabold';
       		color: #6c6c6c;
       	}
       	.des-title {
       		a {
       			color: #192926;
       			width: 100%;
       			overflow: hidden;
       			white-space: nowrap;
       			text-overflow: ellipsis;
       			float: left;
       			@include devices(1000) {
       				font-size: 17px;
       				font-family: 'tahomabold';
       				color: #434242;
       			}
       			&:hover {
       				color: #9e0b0f;
       			}
       		}
       	}
       	.des-text {

       		a {

       			@include devices(1000) {
       				font-size: 15px;
       				color: #4f4f4f;
       				margin-top: 6px;
       				overflow: hidden;
       				display: -webkit-box;
       				-webkit-line-clamp: 3;
       				-webkit-box-orient: vertical;
       			}

       		}
       	}
       }
       .date-more {
       	float: right;
       	text-align: right;
       	width: 45px;
       	@include devices(600) {
       		width: 100px;
       	}
       	p {
       		color: #434242;
       		@include devices(600) {
       			font-size: 18px;
       			line-height: 1.2;
       		}
       		&:first-child {
       			font-family: 'tahomabold';
       			@include devices(600) {
       				font-size: 30px;
       			}
       		}
       		&:nth-child(3) {
       			@include devices(1000) {
       				margin-top: 12px;
       				a {
       					font-size: 18px;
       					text-transform: uppercase;
       					color: $color_white;
       					padding: 6px 30px;
       					background: #112428;
       					&:hover {
       						background: #9e0b0f;
       					}
       				}
       			}
       		}
       	}
       }

     }
   }

   .pagination {

   	margin-top: 50px;
    // margin-bottom: 60px;
    @include devices(1000) {
 	    // margin-bottom: 10px;
 	  }
   	.prev, .next {
   		background: transparent;
   		border: transparent;
   		color: #662314;
   		&:hover {
   			background: transparent;
   		}
   	}
   	ul {
   		text-align: center;
   		font-size: 0;
   		@include devices(1000) {
       	    // text-align: right;
       	    margin: 0 80px;
       	  }
       	  li {
       	  	display: inline-block;
       	  	margin: 0 2px;
       	  	&.active, &:hover {
       	  		a {
								background: #112428;
								color: #c6c6c6;
       	  		}
       	  	}
       	  	a {
       	  		font-size: 16px;
       	  		color: #c6c6c6;
    					border: 1px solid #aeadad;
       	  		line-height: 1;
       	  		padding: 5px 15px;
       	  		@include devices(768) {
       	  			font-size: 20px;
       	  			padding: 8px 18px;
       	  		}
       	  	}
       	  }
       	}
       }
       .space_bottom {
	// margin-bottom: 250px;
}